<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
      <httpPlatform processPath="%HOME%\site\wwwroot\go-azure.bat"
                    arguments="-port %HTTP_PLATFORM_PORT% %HOME%\site\wwwroot\_target"
		    startupRetryCount="3"
                    stdoutLogEnabled="true">
    </httpPlatform>
  </system.webServer>
</configuration>
